  @import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');
body{
    background: hsl(241, 100%, 89%);
}

  #main {
  display:flex;
  font-family: 'Hanken Grotesk', sans-serif;;
  width:700px;
  background:white;
  margin:auto;
  border-radius: 20px;
  }

  #main:hover{
    background: hsl(241, 100%, 89%);
  }

  #result {
   background:  linear-gradient(180deg,  hsl(252, 100%, 67%),   hsl(241, 81%, 54%));
   width:50%;
   border-radius: 20px;
   color:hsl(0, 0%, 100%);
  }
  
  #result h1,p{
  text-align:center;
  }
  
  
  #circle {
  
  text-align: center;
  padding-top:20px;
  height:200px;
  width:230px;
  border-radius:50%;
  color: hsl(0, 0%, 100%);
  background:linear-gradient(180deg,hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  margin:auto}
  
  #tot-score{
  font-size: 60px;
  margin-bottom: 0;
  }
  
  #circle p {
  margin-top: 0;
  margin-bottom:0;
  color: hsl(241, 100%, 89%);
  
  
  }
  
  
  
  #long-comment {
  color:hsl(241, 100%, 89%);
  width:65%;
  margin:auto;
   font-size: 18px;
}
  
  
  
  
  #summary {
  width:50%;
  padding-bottom: 10px;
  padding-top: 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  
  }
  #summary h1{
  margin:1rem 2rem
  }
  
  
  
  
  #summary p,#summary img {
  
  font-size:20px;
  display: inline-block;
  }

  
  .fig{
  display: inline-block;
  margin-left: 1rem;
  margin-right:0.15rem;
  }
  .property {
  display: inline-block;
  width: 50%;
  text-align: left;
  }
  .score {
  display: inline-block;
  text-align: right;
  width: 30%;
  
  }
  .red {
  background:hsla(0, 100%, 67%,0.2);
  
  }
  .orange {
  background:hsla(39, 100%, 56%, 0.2);
  
  }.green {
  background:hsla(166, 100%, 37%, 0.2);
  
  }
  .blue{
  background: hsla(234, 85%, 45%,0.2);
  
  }
  .aspect{
  margin: 1rem 1rem;
  border-radius: 10px;
  }
  
  #summary span {
  font-weight: 700;}
  
  
  
  #reaction {
  color: hsl(0, 100%, 67%);
  font-weight: 700;}
  
  #memory {
  color: hsl(39, 100%, 56%);
  font-weight: 700;}
  
  #verbal {
  color: hsl(166, 100%, 37%);
  font-weight: 700;}
  
  #visual{
  color: hsla(234, 85%, 45%,1);
  font-weight: 700;}
  
  
  button {
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  background: black;
  width : 90%;
  min-height: 50px;
  margin: 1rem 1rem;
  border-radius: 30px;
  border-width: 0;
  }
  
  button:hover {
  background:hsl(241, 81%, 54%);
  transition: 0.3s;
  }

 